@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}

#logo-1 {
  width: 120px;
  margin-left: 50px;
  height: 100%;
}

#nav {
  display:flex;
  background:#fad7a0;
  position:fixed;
  top: 0;
  width: 100%;
  height: 5em;
  z-index: 2;
  justify-content: center;
}

#ul-1 {
  list-style: none;
}

a {
  text-decoration: none;
}

#nav ul{
  display: flex;
  margin-top: 1.75em;
}

.link_nav {
  padding: 7px 20px;
  color: black;
  font-weight: 600;
  font-size: 20px;
}

#nav ul li a:hover {
  border-bottom: 3px solid #f18f0f;
}

.container1 {
  max-width: 1100px;
  justify-content:center;
  align-items: center;
  margin-left: 200px;
  position: relative;
}

.container2 {
  position: relative;
}

.container3 {
  position: relative;
  display: flex;
}

#about {
  background: url(../media_room&about/coffee-5417663_1280.webp) center center/cover no-repeat fixed;
  position: relative;
}

#about hr {
  position: relative;
  color: #fff;
}

#about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0, 0.4);
}

#about * {
  z-index: 1;
}

.title {
  text-align: center;
  margin-bottom: 4rem;
}

.title h2 {
  margin-top: 5rem;
}

.container1 h2 {
  font-size: 40px;
  color: yellow;
  margin-bottom: 20px;
}

.container1 .title pre {
  font-size: 14px;
  color: #fff;
  font-weight: 600;
}

.container1 .title pre i {
  color: yellow;
}

.about-history {
  display: flex;
  justify-content: center;
  max-width: 1100px;
}

#about .about-history img {
  width: 450px;
  margin-bottom: 30px;
  border-radius: 40px;
}

#about .about-history p {
  color: #fff;
  margin-right: 7rem;
  font-weight: 500;
  line-height: 1.6;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  color: #fff;
  border: 2px solid #fff;
  margin-top: 1rem;
  margin-bottom: 20px;
}

.about-Dates h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 4rem;
  font-size: 30px;
  color: #fff;
  position: relative;
}

.about-Dates h2 span {
  color: rgb(221, 3, 3);
}

.img-container {
  display: flex;
  justify-content: space-evenly;
}

#img1 {
  margin-left: 120px;
}

#img3 {
  margin-right: 120PX;
}

.img-container img {
  height: auto;
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.cap {
  background-color: #cacaca;
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
}

.cap p {
  margin: 0;
  font-size: 18px;
  text-align: center;  
}

.cap h3 {
  text-align: center;
}

#table1 {
  width: 60%;
  height: 200px;
  margin: 100px auto;
  font-size: 30px;
  text-align: center;
  border: 2px #fff solid;
  color: #fff;
  position: relative;
}

#thead1 th {
  border: 2px #fff solid;
}

#tbody1 td {
  border: 2px #fff solid;
}

#table2 {
  width: 500PX;
  height: 600PX;
  font-size: 30px;
  text-align: center;
  border: 2px #fff solid;
  color: #fff;
  margin: 100px 0px 50px 80px;
}

#thead2 th {
  border: 2px #fff solid;
}

#thead2 span {
  color: rgb(221, 3, 3);
}

#tbody2 td {
  border: 1px #fff solid;
}

#tbody2 span {
  color: yellow;
}

.container3 video {
  width: 800px;
  height: 600px;
  margin: 50px 30px;
}

#footer_about {
  background: #383848;
  color: #fff;
  display: flex;
  justify-content: center;
}

.container4 {
  padding: 130px 200px;
}

.container5{
  padding: 100px 200px;
}

#address {
  margin-bottom: 40px;
}

#address h3 ,.container5 h3 {
  text-align: center;
  font-size: 30px;
  color: yellow;
  margin-bottom: 20px;
}

#address p {
  margin-bottom: 15px;
}

#address i {
  color: yellow;
}

#delivery_about , #booking_about {
  text-align: center;
  margin-bottom: 40px;
}

#delivery_about h3 , #booking_about h3 {
  font-size: 30px;
  color: yellow;
}

.container5 h3 {
  border: yellow solid 1px;
  padding: 20px;
  border-radius: 30px;
}

#container_name , #container_email , #container_comment {
  margin: 20px 0px;
  font-size: 20px;
  color: yellow;
}

#name_123 , #email_123 , #comment_123 {
  display: block;
  width: 100%;
  padding: 20px 15px;
  margin: 5px 0px 20px 0px;
  background-color: #c6c5c0;
  border: none;
  text-align: center;
}

#container_controls {
  justify-content: space-between;
  display: flex;
  margin: 20px 0px;
}

.btn2 {
  width: 45%;
  cursor: pointer;
  padding: 10px 30px;
  background-color: #383848;
  color: #fff;
  border-radius: 15px;
  border: #fff 2px solid;
}

#room_selector {
  color: #f18f0f;
  border-bottom: 3px solid #f18f0f;
}

#about_selector {
  color: #f18f0f;
  border-bottom: 3px solid #f18f0f;
}

.container6 {
  background: url(../media_room&about/1000_F_242757656_LYhzT9Kzxb5XdOsNY6SYSyroxMzZBeRN.jpg);
  position: relative;
  margin-top: 5rem;
  height: 600px;
}

.container6::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0, 0.4);
}

.container6 h2 {
  margin-bottom: 20px;
  font-size: 40px;
  color: #fff;
  text-align: center;
  display: block;
  padding-top: 50px;
  position: relative;
}

#nav_rooms {
  display:flex;
  background: rgb(254, 254, 218);
  position:fixed;
  top: 0;
  width: 100%;
  height: 5em;
  z-index: 2;
  justify-content: center;
}

#nav_rooms ul {
  display: flex;
  margin-top: 1.75em;
}

#nav_rooms ul li a:hover {
  border-bottom: 3px solid #f18f0f;
}

#Welcom_rooms {
  justify-content: center;
  position: relative;
  display: flex;
}

#Rooms #Welcom_rooms img {
  width: 450px;
  margin-top: 100px;
  border-radius: 40px;
}

#Rooms #Welcom_rooms p {
  color: rgb(192, 192, 192);
  margin-right: 7rem;
  font-weight: 500;
  line-height: 1.6;
  width: 600px;
  margin-top: 100px;
}

#ps4_ps5 {
  display: flex;
  justify-content: center;
}

#ps4 {
  margin-top: 200px;
}

#ps5 {
  margin-top: 200px;
  margin-right: 50px;
}

#ps5 img {
  height: 300px;
  width: 600px;
}

#ps4 img {
  height: 300px;
  margin-left: 200px;
  margin-right: 200px;
  width: 300px;
}

#ps4 pre , #ps5 pre{
  display: block;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

#ps4 img:hover {
  width: 330px;
  height: 330px;
  border: #383848 double;
  border-radius: 30px;
}

#ps5 img:hover {
  width: 630px;
  height: 330px;
  border: #383848 double;
  border-radius: 30px;
}

#iframe_rooms {
  text-align: center;
}

#iframe_rooms iframe {
  margin-top: 200px;
  width: 80%;
  height: 1000px;
  border: none;
}

#audio_rooms {
  text-align: center;
}

#audio_rooms audio {
  margin-top: 200px;
  margin-bottom: 200px;
}

#myInput_123 {
  width: 300px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #d4d4d4;
  background-color: #efefef;
  margin-top: 1.2em;
}

