/* contact start */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}
/* Navbar */
#navbar{
    background-color: rgb(1, 1, 1,0.5);
    position: absolute;
    width: 100%;
    height: 85px;
    margin-bottom: 138%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    padding: 0 50px;
    opacity: 0.9;
}
#links{
    margin-left: 18%;
    justify-content: space-between;
}
#links a{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    font-weight: 600;
    border-radius: 40%;
    padding: 30px;
    text-decoration: none;
    color: rgb(229, 228, 228);
}
#links a:hover{
    color: rgb(167, 35, 35);
    transition: color 0.2s, box-shadow 0.3s;
}
#navbar i{
    font-size: 22px;
    margin-left: 40px;
    width: 60px;
    height: 60px;
    background-color: rgba(235, 235, 235, 0.6);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
#navbar i:hover{
    color: rgb(167, 35, 35);
    transition: color 0.2s, box-shadow 0.3s;
}
#searchicon{
    position: absolute;
    margin-left: 66%;
}
#searchbar{
    position: absolute;
    width: 200px;
    margin-top: 2%;
    margin-left: 74%;
}

/* Navbar */
#page {
    background-image: url('../media_contact&account/louis-hansel-u13IpYtZ9I8-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
#container {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.5);
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    position: absolute;
    margin-bottom: 40%;
   
}
#contact-content{
    width: 100%;
    display: flex;
    justify-content: space-between
}
#contact-info{
    width: 45%; 
    padding: 0 20px; 
}
#contact-info div{
    margin: 30px 0;
    line-height: 1.7;
}
#contact-info h3{
    font-size: 22px; 
    margin-bottom: 15px; 
    color: #333; 
}
#contact-info p {
    color: #555; 
    font-size: 14px; 
    margin-bottom: 10px; 
}
#contact-info i{
    color: rgb(142, 22, 1);
    font-size: 16px;
}
#contact-info a i {
    color: rgb(162, 162, 162);
    background-color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 50%;
    display: inline-flex; 
    transition: background-color 0.2s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
#contact-info a i:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(167, 35, 35);
    padding: 15px;
    border-radius: 50%;
}
#contact-info a i:active {
    color: rgb(167, 35, 35);
    background-color: rgb(109, 109, 109);
    padding: 15px;
    border-radius: 50%;
}
form {
    width: 25%; 
    padding: 0 30px;
}
input,textarea{
    display: block;
    width: 100%;
    padding: 20px 15px;
    margin: 25px 0;
    background-color: rgb(241, 241, 241,0.6);
    border: none;
    border-radius: 5px; 
    box-sizing: border-box; 
}
textarea {
    resize: vertical; 
}
#btn{
    box-sizing: content-box;
    border: none;
    margin-left: 56%;
    background-color: rgb(34, 34, 34);
    color: rgb(163, 163, 163);
    height: 40px;
    width: 80px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.2s, box-shadow 0.3s;
    border-radius: 100px;
}
#btn:hover{
    margin-left: 56%;
    background-color: rgb(167, 35, 35);
    color: rgb(0, 0, 0);
    height: 40px;
    font-weight: bold;
    cursor: pointer;
}
#btn:active{
    margin-left: 56%;
    background-color: rgb(109, 109, 109);
    color: rgb(167, 35, 35);
    height: 40px;
    font-weight: bold;
}
/* contact end */
/* second section */
#section2{
    min-height: 80vh;
    margin-top: 100%;
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    background-color: rgba(230, 229, 229, 0.5);
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; /* Center content vertically */
}

#image{
  position: relative;
  margin-left: 70%;
  text-align: center;
}
#image h1{
    position: relative;
    color: #333;
    font-weight: 600;   
    margin-left: 10%;
}
#image h1:hover{
    cursor:default;
    color: rgb(167, 35, 35);
    transition: color 0.2s;
}
#image img{
    opacity: 0.7;
}
#image img:hover{
    opacity: 1;
}
#video{
    min-height: 40vh;
    position: relative;
    margin-left: 145%;
    width: 100%;
}
#video h1{
    font-size: 30px;
}
#video h1:hover{
    cursor:default;
    color: rgb(167, 35, 35);
    transition: color 0.2s;
}
table{
    position: absolute;
    height: 85%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width:60%;
    font-weight: 900;
    margin-right: 40%;
}
td, th {
    border: 1px solid #542626;
    text-align: left;
    padding: 8px;
    opacity: 0.7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
tr:nth-child(even) {
    background-color:rgba(255, 255, 255, 0.2);
    color: rgb(6, 0, 0);
}
tr:nth-child(odd) {
    background-color:rgba(108, 108, 108, 0.4);
    color: rgb(112, 20, 20);
}
#audio{
    position: absolute;
    margin-left: 32%;
    opacity: 0.7;
    transform: rotate(90deg);
}
/* second section */
