@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    overflow-x: none;
}


body
{
   font-family: "Quicksand" , sans-serif;
   position: relative;
}


.screen
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 232, 217);
}


.nav
{
    width: 100%;
    height: 150%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgb(252, 196, 124);
    box-shadow: 0 2px 20px rgb(250, 124, 124)
}


.nav .logo
{  
    align-items: flex-start;
    width: 4%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img
{
    width: 90px;
}

.nav .choose
{
    width: 45%;
    height: 90%;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.nav .choose ul
{
    width: 100%;
    padding: 4px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.nav .choose ul li 
{
    margin-right: 30px;
    font-size: 18px;
    transition: 0.3s;
}

ul li:hover
{
    transform: scale(1.3);
}

ul a
{
   text-decoration: none;
   color: #000000;
   font-weight: 600;
   font-family: sans-serif;
  
}

ul .active::after
{
    content:'';
    width: 50%;
    height: 3px;
    background-color: #ff511c;
    display: flex;
    position: relative;
    margin-left: 10px;
} 

.nav .btn
{
    width: 15%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.btn button:nth-child(1)
{
    width: 45%;
    height: 90%;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(248, 232, 217);
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.btn button:nth-child(2)
{
    width: 45%;
    height: 90%;
    font-size: 14px;
    font-weight: bold;
    background-color: #ff511c;
    color: aliceblue;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn button:hover
{
    background-color: #000000;
    color: white;
}

.nav .myaccount
{
    position: absolute;
    left: 1400px;
    font-size: 18px;
    cursor: pointer;
}

#account:hover
{
    transition: .3s;
    color: #ff511c;
}

.screen .content
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.screen .content-left
{ 
    width: 70%;
    height: 100%;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.screen .content-right
{
    width: 50%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info
{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.info h3{
    height: 100%;
    font-style: italic;
    font-size: 50px;
    font-family: 'bursh script MT' , cursive;
    margin-bottom: 30px;
}

.info h3 span{
    color: rgb(253, 57, 0);
}

.info p{
    font-size: 23px;
    font-weight: 40;
    margin-bottom: 30px;
    font-family: sans-serif;
    color: #333;
    line-height: 1.5;
}

.bokking-btn
{  
    width: 150px;
    height: 45px;
    font-size: 14px;
    font-weight: bold;
    background-color: #ff511c;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition:  0.3s;
}

.info button:hover
{
   background-color: #000000;
   color: white;
}

.content-right img
{
    margin: 120px 0;
    width: 400px;
    height: auto;
    position: relative;
    user-select: none;
    animation: rotate 10s linear infinite;
}

@keyframes rotate
{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


.footer
{
    height: 21vh;
    width: 97.5%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
    background: #2c333a;
    padding: 20px;
}

.footer-box
{
    color: #d3d9de;
    display: flex;
    flex-direction: column;
}

.footer-box p
{
    color: #d3d9de;
    font-size: .9rem;
    margin: .5rem 0 1rem;
}

.footer a
{
    margin-top: 5px;
    color: #d3d9de;
    text-decoration: none;
    margin-bottom: .4rem;
}

.footer a:hover
{
    color:rgb(176, 88, 57);
}

.social
{   
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.social .bx
{
    padding: 10px;
    background: var(--bg-color);
    color: var(--green-color);
    border-radius: 5rem;
    font-size: 20px;
}

.social .bx:hover {
    background: var(--green-color);
    color: var(--bg-color);
    transition:  0.2s ease, color 0.2s ease; 
}

.footer-box h3
{
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    padding-top: 10px;
}
